{% extends 'base.html.twig' %}

{% block title %} Bienvenue ! {% endblock %}

{% block body %}
<h1>Bienvenue aux personnes ci-dessous :</h1>
    <ul>
        {% for prenom in prenoms %}
            <li><a href="{{ path('app_bienvenue_prenom',{"prenom" : prenom}) }}">{{ prenom | capitalize }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}