{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}
    {% if prenom is defined %}
        <h1>Bienvenue {{ prenom | capitalize }} dans le cours Symfony !</h1>
         {% else %}
             <h1>Bienvenue dans le cours Symfony !</h1>
    {% endif %}
{% endblock %}
