{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants{% endblock %}

{% block body %}
    <h1>Liste des étudiants</h1>
    <ul>
        {% for etudiant in etudiants %}
            <li><a href="{{ path('app_etudiant_details',{"id" : etudiant.id}) }}">{{ etudiant.prenom }} {{ etudiant.nom }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
